.full-width{

    height: 100vh;
    width: 100vw;
}


// Background images

.landing-page{ background-image: url("../images/backgrounds/h_img.jpg"); }

.services { background-image: url("../images/backgrounds/s_image.jpg");}

.email { background-image: url("../images/backgrounds/c_image.jpg"); }